@model ViewsExample.Models.Person
<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>Person Details</h1>
        <h2>@Model.Name</h2>
        <table class="table">
            <tr>
                <td>Gender</td>
                <td>@Model.PersonGender</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>@Model.DateOfBirth?.ToString("MM/dd/yyyy")</td>
        </table>
    </div>
</body>
</html>